@import url("https://fonts.googleapis.com/css?family=Catamaran:400,100,300");

$black: #000;
$white: #fff;
$light-gray: #eee;
$black-pearl: #0b102b;
$blue-lagoon: #00a1b4;

$font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, sans-serif;
