@import url("https://fonts.googleapis.com/css?family=Catamaran:400,100,300");

$black: #000;
$white: #fff;
$white-gray: #f7f7f7;
$light-gray: #eee;
$medium-gray: #ccc;
$dark-gray: #888888;
$black-pearl: #0b102b;
$blue-lagoon: #00a1b4;
$red: #c42162;

$font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, sans-serif;
